editページだよ

<%= form_for(@user, url: end_users_user_path) do |f| %>
  <%= render "end_users/shared/error_messages", resource: @user %>


  <div class="field">
    <%= f.label :end_user_name, "ユーザー名" %><br />
    <!-- autofocus機能は自動フォーカス、画面が映ったときのカーソル指定 -->
    <%= f.text_field :end_user_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :area, "お住まいの地域" %><br />
    <!-- モデルに登録しenumでもってきている、モデル名.カラム名複数形.keysで設定したenumを呼び出す -->
    <%= f.select :area, EndUser.areas.keys, autofocus: true %>
  </div>

  <div>
 	<%= f.hidden_field :user_status, :value => true %>
  </div>

  <div class="actions">
    <%= f.submit '編集内容を保存する', class: "btn btn-primary" %>
  </div>

  <%= link_to "戻る", end_users_user_path(current_end_user.id) %>

	<!-- ユーザーが一致しているか確認 -->
	<% if end_user_signed_in? && @user.id == current_end_user.id %>
  		<div class="">
       		<%= f.submit "退会する", method: :patch, data: {confirm: "削除しますか？"}, class: "btn btn-danger" %>  
       		<%#= f.hidden_field :user_status, :value => false %>   
    	</div>
	<% end %>
