<div class="container">
	<div class="content">
		<%= render 'end_users/templetes/top' %>
	</div>
	<%= flash[:notice] %>
	<div class="row">
		<div class="col-xs-2">
			<%= render 'end_users/templetes/genre', genres: @genres %>
		</div>


		<div class="col-xs-8">
			<div style="margin-bottom: 20px;">
				<div class="haikei">
					<div class="image1">
						<% if end_user_signed_in? %>
							<div style="padding-top: 20px; padding-left: 30px;  font-size: 30px;">
								FENにようこそ！
							</div>
							<div class="css-fade3 text-center"><%= search_form_for @q, url: end_users_search_path, html: { method: :get } do |f| %>
									<%= f.label :name, "商品名で検索" %>
							  		<%= f.search_field :item_name_cont, :placeholder => "商品名" %>
									<%= f.submit "検索" %>
									<% end %>
							</div>
						<% else %>
							<div class="css-fade4">
								栄養を、もっと知ろう。
							</div>
							<div class="css-fade5">
								「FEN」は商品の栄養素を共有するサイトです。
							</div>
							<div class="text-center" style="padding-top: 70px;">詳細を確認するにはログインが必要です。→<%= link_to "ログインする", new_end_user_session_path %>
							</div>
						<% end %>
					</div>
				</div>
			</div>

	    	<div class="col-xs-3" style="font-size: 20px; font-weight: bold;">
			    おまかせ商品
			</div>
			    <div class="col-xs-9" style="margin-top: 5px;">
			      <%= link_to "一覧を見る", end_users_items_path %>
			    </div>
	      <% if @items.count >= 1 %>
	          <table class="mypage-table2" style="padding-top: 20px;">
	            <% @items.shuffle.first(4).each do |item| %>
	              <tbody>
	                <tr>
	                  <td>
	                    <%= link_to end_users_item_path(item.id), data: {"turbolinks" => false} do %>
	                      <%= attachment_image_tag(item, :image, :style => "height:100px; width:auto;", fallback: "noimage.png") %><!-- item.imageだけだとstringのみとってくる -->
	                    <% end %>
	                  </td>
	                </tr>
	                <tr>
	                  <td>
	                    <%= link_to item.item_name, end_users_item_path(item.id), data: {"turbolinks" => false}  %>
	                  </td>
	                </tr>
	                <% if end_user_signed_in? %>
	                <tr>
	                  <td>
	                    <%= render 'end_users/likes/like', item: item %>
	                  </td>
	                </tr>
	                <% end %>
	              </tbody>
	            <% end %>
	          </table>
	      <% else %>
	      	<div class="col-xs-12">商品はまだありません。</div>
	      <% end %>
	    </div>



		<div class="col-xs-2">
			<%= render 'end_users/templetes/tag_list', tags: @tags %>
		</div>
	</div>
</div>
